<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>

<body style="width: 640px">

  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">ClearStar</a>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text"
          style="font-size: 3.2rem; margin: 1.8rem 0 1.68rem 0;">
        Applicant Information
      </h1>

      <div class="row center">
          <div class="row">
              <form id="profileForm" class="col s12" action="createProfile">
                <div class="row">
                  <div class="input-field col s6">
                    <input id="firstName" type="text" class="validate">
                    <label for="firstName">First Name</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="lastName" type="text" class="validate">
                    <label for="lastName">Last Name</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s4">
                    <input id="ssn" type="text" class="validate">
                    <label for="ssn">SSN</label>
                  </div>
                  <div class="input-field col s4">
                    <input id="gender" type="text" class="validate">
                    <label for="gender">Gender</label>
                  </div>
                  <div class="input-field col s4">
                    <input id="dateOfBirth" type="text" class="datepicker">
                    <label for="dateOfBirth">Date Of Birth</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input id="dayPhone" type="text" class="validate">
                    <label for="dayPhone">Phone</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="address" type="text" class="validate">
                    <label for="address">Address</label>
                  </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                      <input id="city" type="text" class="validate">
                      <label for="city">City</label>
                    </div>
                    <div class="input-field col s4">
                      <input id="state" type="text" class="validate">
                      <label for="state">State</label>
                    </div>
                    <div class="input-field col s4">
                      <input id="zipCode" type="text" class="validate">
                      <label for="zipCode">Zip Code</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <p>
                            <label>
                              <input id="empVerif" type="checkbox" />
                              <span> <strong> Employment Verification </strong> </span>
                            </label>
                        </p>
                    </div>
                    <div class="input-field col s6">
                        <p>
                            <label>
                              <input id="eduVerif" type="checkbox" />
                              <span> <strong> Education Verification </strong> </span>
                            </label>
                        </p>
                    </div>
                </div>
              
              </form>

            </div>
      </div>

      <div class="row center" style="margin-bottom: 64px">
          <button class="btn-large waves-effect waves-light orange" 
                  type="submit" 
                  name="action"
                  id="submit_button">Submit
                  <i class="material-icons right">send</i>
          </button>
          <br><br>
      </div>

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">ClearStar</h5>
          <p class="grey-text text-lighten-4">Building and managing a successful team is hard work. At ClearStar, we work to simplify background screening. We work to solve problems with unrivaled technology and integrations. We work to protect your company's brand and culture with a serious commitment to compliance. We work to keep your business moving. At ClearStar, we take care of background screening so you can take care of the rest.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="#!">Privacy Policy</a></li>
            <li><a class="white-text" href="#!">Sustainability Policy</a></li>
            <li><a class="white-text" href="#!">Contact us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://www.clearstar.net">ClearStar</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/submit.js"></script>

</body>
</html>
