<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>

<body style="width: 640px; margin-right: -16px;">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">ClearStar</a>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text"
          style="font-size: 3.2rem; margin: 1.8rem 0 1.68rem 0;">
        Login
      </h1>

      <div class="row center">
          <div class="row">
              <form id="loginForm" class="col s12" action="popup2.html">                  
                <div class="row">
                  <div class="input-field col s12">
                    <input id="user" type="text" class="validate">
                    <label for="user">User</label>
                  </div>
                </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="password" type="password" class="validate">
                      <label for="password">Password</label>
                    </div>
                  </div>
                  <div class="row center" style="margin-bottom: 64px">
                    <button class="btn-large waves-effect waves-light orange" type="submit" name="action" 
                    id="submit_button">Login<i class="material-icons right">send</i></button>
                  <br><br>
                </div>            
              </form>
            </div>
      </div>
    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">ClearStar</h5>
          <p class="grey-text text-lighten-4">Building and managing a successful team is hard work. At ClearStar, we work to simplify background screening. We work to solve problems with unrivaled technology and integrations. We work to protect your company's brand and culture with a serious commitment to compliance. We work to keep your business moving. At ClearStar, we take care of background screening so you can take care of the rest.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="#!">Privacy Policy</a></li>
            <li><a class="white-text" href="#!">Sustainability Policy</a></li>
            <li><a class="white-text" href="#!">Contact us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container" id="footer-container">
      <a href="https://www.clearstar.net/" target="_blank">
        <img class="footer-logo" src="https://www.clearstar.net/wp-content/themes/clearstar-2018/images/Group%20102.png">
      </a>
        
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/submit.js"></script>

</body>
</html>
